{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, []}.

{relx, [{release, {parking_lot, "0.1.0"}, [parking_lot, sasl]},

%        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [parking_lot]}
]}.
